<!DOCTYPE html>
<html>
<head>
	<title>Fragments</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="fragment.css">
</head>
<body>

<article>
	<a href="#">
	<img src="9780812977202.png" alt="The Mysterious Affair at Styles" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>The Mysterious Affair at Styles</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		
		<p>
		Agatha Christie’s first novel, The Mysterious Affair at Styles, was the result of a dare from her sister Madge who challenged her to write a story. The story begins when Hastings is sent back to England from the First World War due to injury and is invited to spend his sick leave at the beautiful Styles Court by his old friend John Cavendish. Here, Hastings meets John’s step-mother, Mrs Inglethorp, and her new husband, Alfred. Despite the tranquil surroundings Hastings begins to realise that all is not right. When Mrs Inglethorp is found poisoned, suspicion falls on the family, and another old friend, Hercule Poirot, is invited to investigate.
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>

</body>


<body>

<article>
	<a href="#">
	<img src="71ypuzK-WUL.png" alt="The Murder on the Links" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>The Murder on the Links</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		<p>
		An urgent cry for help brings Poirot to France. But he arrives too late to save his client, whose brutally stabbed body now lies face downwards in a shallow grave on a golf course.
		</p>

		<p>
		But why is the dead man wearing his son’s overcoat? And who was the impassioned love-letter in the pocket for? Before Poirot can answer these questions, the case is turned upside down by the discovery of a second, identically murdered corpse.
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>

</body>


<body>

<article>
	<a href="#">
	<img src="The-Murder-of-Roger-Ackroyd.png" alt="The-Murder-of-Roger-Ackroyd" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>The Murder of Roger Ackroyd</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		<p>
		Known for its startling reveal, this is the book that changed Agatha Christie’s career.
		</p>

		<p>
		Roger Ackroyd was a man who knew too much. He knew the woman he loved had poisoned her first husband. He knew someone was blackmailing her – and now he knew she had taken her own life with a drug overdose. Soon the evening post would let him know who the mystery blackmailer was. But Ackroyd was dead before he’d finished reading it – stabbed through the neck where he sat in the study.
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>

</body>


<body>

<article>
	<a href="#">
	<img src="16316.jpg" alt="The Big Four" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>The Big Four</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		
		<p>
		Framed in the doorway of Poirot’s bedroom stood an uninvited guest, coated from head to foot in dust. The man’s gaunt face stared for a moment, then he swayed and fell. Who was he? Was he suffering from shock or just exhaustion? Above all, what was the significance of the figure 4, scribbled over and over again on a sheet of paper? Poirot finds himself plunged into a world of international intrigue, risking his life to uncover the truth about ‘Number Four’.
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>

</body>


<body>

<article>
	<a href="#">
	<img src="The-Mystery-of-the-Blue-Train.png" alt="The-Mystery-of-the-Blue-Train" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>The Mystery of the Blue Train</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		<p>
		Aboard the luxurious Blue Train running from London to the Riviera, pampered millionaire's daughter Ruth Kettering is murdered, her expensive jewels stolen. But Poirot is at hand to solve the case.
		</p>

		<p>
		The novel also contains a number of firsts: there is a reference to the fictional village of St. Mary Mead, which would later be the home of Agatha Christie's detective Miss Marple; the first appearance of the minor recurring character, Mr Goby, who would also appear in After the Funeral and Third Girl and the first appearance of Poirot's valet, George.
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>

</body>


<body>

<article>
	<a href="#">
	<img src="81N2qamG9qL.jpg" alt="81N2qamG9qL" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>Peril At End House</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		
		<p>
		Nick Buckley was an unusual name for a pretty young woman. But then she had led an unusual life. First, on a treacherous Cornish hillside, the brakes on her car failed. Then, on a coastal path, a falling boulder missed her by inches. Later, an oil painting fell and almost crushed her in bed. Upon discovering a bullet-hole in Nick’s sun hat, Hercule Poirot decides the girl needs his protection. At the same time, he begins to unravel the mystery of a murder that hasn’t been committed. Yet.
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>

</body>


<body>

<article>
	<a href="#">
	<img src="519IdGPcsBL._SX308_BO1,204,203,200_.jpg" alt="519IdGPcsBL._SX308_BO1,204,203,200_" width="180px" height="auto">
	</a>

	<div class="preview">
	<ul class="meta">
		<li><a href="#"> Paperback</a></li>
		<li><a href="#"> eBook</a></li>
	</ul>

	<h2>Lord Edgware Dies</h2>

	<p class="post_info "><a href="#"> Agatha Christie's</a>-A <a href="#"> Hercule Poirot</a> story</p>

	<div class="body">
		
		<p>
		Poirot had been present when Jane bragged of her plan to ‘get rid of’ her estranged husband. Now the monstrous man was dead. And yet the great Belgian detective couldn’t help feeling that he was being taken for a ride. After all, how could Jane have stabbed Lord Edgware to death in his library at exactly the same time she was seen dining with friends? And what could be her motive now that the aristocrat had finally granted her a divorce?
		</p>
	</div>

	<a href="#" class="Continue">Continue</a>
	</div>

</article>	

<p class="line">__________________________________________________________________</p>


</html>