body{
	width: 600px;
	margin: 20px auto;
	font-family: sans-serif;

}

article{
	padding: 3px;
}

h2{
	font-size: 45px;
	line-height: 40px;
}

a{
	color: #276056;
}

p{
	font-size: 14px;
	line-height: 21px;
}

article img{
	float: left;
	margin-right: 25px;
	padding-bottom: 20px; 
}

article h2{
	margin: 0 0 8px 0;
	letter-spacing: -1px;
}

article .Continue{
	float: right;
	font-size: 14px;
}

.Continue:after{
	content: ')'
}

.Continue:before{
	content: '('
}


.meta{
	margin: 0 0 8px 0;
	font-style: italic;
}

.meta a{
	padding-left: 0;

}

.meta li:after{
	content: '\\';
	padding: 0 6px;
	color: #999;
}

.meta li:last-child:after{
	content: none;
}

.meta a {
	font-size: 14px;
}

.meta li{
	display: inline;
}

.preview{
	float: right;
	width: 385px;
}

.post_info{
	background-color: #f3f3f3;
	color: #999;
	padding: 3px;
	float: left;
	font-size: 15px;
	font-style: italic;


}

.post_info a{
	color: #999;
	text-decoration: none;
}

a:hover{
	color: black;
	transition: 0.3s ease;
}

.body{
	clear: both;
	color: #575757;
}

.line{
	color: white;
}